<!--

 Copyright 2014 ABC Startsiden

 Author: Morten Bekkelund <morten.bekkelund _at_ startsiden.no>

//-->
{% extends "layout.html" %}
{% block content %}

<p>Filter: <input type="text" id="filter"> <span style="font-size: .7em; color: #999">Showing <strong id="filter-count">all</strong> rows</p>
  <table class="table table-striped table-bordered table-condensed filtered">
	{% for minion,values in minions.items() %}
    <thead>
      <th colspan="2">{{ minion }}
    </thead>
    {% if values is mapping %}
      {% for k,v in values.items() %}
        <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
      {% endfor %}
    {% endif %}
  {% endfor %}
  </table>


{% endblock %}
